<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Los puntos del partido <%= @game.local_team.name %> - <%= @game.visitant_team.name %></h1>
    <p>
      Los puedes consultar en nuestra app <%= @url %>.
    </p>
    <p>Mucha Suerte!!</p>
  </body>
</html>